@import '../../scss/colors.scss';

.collection-edit-modal {
    position: fixed;
    top: 10vh;
    left: calc(50vw - (400px / 2));
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    background-color: $gray;

    .modal-header {
        display: flex;
        padding: 10px 10px;
        border-bottom: 2px solid $dark-gray;

        .poster {
            height: 80px;
            width: 58px;
            border: 2px solid $purple;
            border-radius: 5px; 
            background-repeat: no-repeat;
            background-size: contain;
        }

        .anime-title {
            padding-right: 20px;
            margin: 0;
            font-size: 19px;
            color: $dark-gray;

            @media screen and (max-width: 700px) {
                font-size: 17px;
            }
        }

        .close-button {
            border: unset;
            padding: unset;
            background-color: unset;
            margin-left: auto;
            cursor: pointer;

            .cross-icon {
                width: 15px;
                height: 15px;

                path {
                    fill: $dark-gray;
                    transition: fill 350ms;
                }
    
                &:hover,
                &:active {
                    path {
                        fill: lighten($purple, 25%);
                        transition: fill 350ms;
                    }
                }
            }
        }
    }

    .edit-options {
        height: 80%;
        margin-top: 30px;
        margin-left: 10px;

        .edit-option {
            display: flex;
            margin-bottom: 30px;

            .option-type {
                font-size: 19px;
                color: $dark-gray;
            }

            .option-input {
                width: 55%;
                margin-left: auto;
            }

            &.progress,
            &.assesment,
            &.personal-notes {
                input,
                textarea,
                .progress-limit {
                    padding: 5px 10px;
                    border: 1px solid darken($gray, 10%);
                    border-radius: 4px;
                    font-size: 17px;
                    color: darken($gray, 20%);
                }

                textarea {
                    height: 80px;
                }
            }

            &.progress {
                .option-input {
                    input {
                        width: 80%;
                        height: 32px;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .progress-limit {
                        display: inline-block;
                        width: 20%;
                        height: 32px;
                        border-left: unset;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        background-color: darken(#fff, 15%);
                    }
                }
            }

            &.assesment {
                .option-input {
                    padding-left: 10px;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        .remove-title-button,
        .save-changes-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            padding: 5px 10px;
            border: 2px solid $dark-gray;
            border-radius: 10px;
            font-size: 16px;
            color: $dark-gray;
            text-transform: lowercase;
            cursor: pointer;
    
                &:hover,
                &:active {
                    background-color: darken(#fff, 50%);
                    color: $white;
    
                    .bin-icon {
                        fill: $white;
                    }
                }
            }
    
        .remove-title-button {
            .bin-icon {
                fill: $dark-gray;
                width: 20px;
                height: 20px;
            }
        }
    }
}