@import '../../scss/colors.scss';

.detail-line {
    margin-bottom: 15px;

    .type {
        display: inline-block;
        padding-right: 10px;
        font-size: 15px;
        color: $gray;

        @media screen and (max-width: 700px) {
            font-size: 18px;
        }
    }

    .value {
        color: $white;
        font-size: 16px;

        @media screen and (max-width: 700px) {
            font-size: 19px;
        }
    }

    &:last-child {
        margin-bottom: unset;
    }
}