@import '../../scss/colors.scss';

.optional-dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;

    .current-option,
    .select-option {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 203.5px;
        padding: 5px 10px;
        padding-right: 25px;
        background-color: #fff;
        text-align: center;
        color: darken($gray, 20%);

        @media screen and (max-width: 700px) {
            width: auto;
            max-width: 203.5px;
            padding-right: 10px;
        }
    }

    .current-option {
        position: relative;
        border-radius: 4px;

        &.opened::after,
        &.closed::after {
            content: "";
            position: absolute;
            top: 8px;
            right: 10px;
            display: block;
            background-image: url("../../assets/down-arrow.svg");
            width: 15px;
            height: 15px;
        }

        &.opened { 
            background-color: darken(#fff, 10%);
            color: darken($gray, 40%);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.opened::after {
            transform: rotate(180deg);
        }
    }

    .select-options {
        position: absolute;
        display: block;
        width: 100%;
        border-radius: 4px;

        .select-option {
            border: 1px solid $dark-gray;
            border-top: none;

            &:first-child {
                border-top: 1px solid $dark-gray;
            }

            &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            &:hover {
                background-color: darken(#fff, 10%);
                color: darken($gray, 40%)
            }
        }
    }
}